extends ../templates/layout.pug
block section
    #texttarget
        h1 Informations de contact
        div
            p Helga Strobl Petrovic
            p 7 impasse du Rouet
            p 75014 Paris
            p
            | 06 32 95 40 90,  
            a(href='mailto:contact@hstrobl.info') contact@hstrobl.info
            p No SIRET 491 258 141 00010, no d'ordre de la Maison des Artistes: S462947 
        div
            h3 Informations sur ce site
            p
            | Fournisseur: Le site est hébergé chez OVH.com, 2 rue Kellermann - 59100 Roubaix - France
            p Responsable du contenu: Helga Strobl 
            p
            | Conception, réalisation, et droits d'auteurs de photos et visuels: HElga Strobl,
