extends ../templates/layout.pug
block section
    #texttarget
        h1 Informations de contact
        div
            p Helga Strobl Petrovic
            p 7 impasse du Rouet
            p 75014 Paris
            p
            | Tél :  06 32 95 40 90,  
            | 
            a(href='mailto:helga@petrovic.ovh?subject=contact via le site petrovic.ovh') Envoyer un mail
            p No SIRET 491 258 141 00010, membre MdA
        