extends ../templates/layout.pug
block section
  #texttarget
    h1 Mon idée des sensations fortes : développer des serveurs
    p 
    | Ce site peut sembler incongru au premier regard, mais rassurez-vous, c'est tout simple : 
    | Je suis une personne très curieuse et cela déjà depuis longtemps.
    p 
    | Vous trouvez ici des facettes de ma vie, comme une partie de mon travail d'artiste photographe 
    | et un échantillon par jour des histoires courtes, que j'écris en anglais. 
    | Il s'agit des extraits, dont je me sers ici pour tester mes idées de code appliqué à du contenu divers. 
    h2 Full stack Javascript
    p 
    | Une formation intense à transformé un intérêt dans la matière en vocation. 
    | Pendant ma formation, j'ai réalisé quelques projets, qui sont accésibles d'ici, même s'il s'agit 
    | des "épreuves d'école"
    ul
        li l'énigme est un jeu html5/JS réalisé après 2 mois de formation Javascript FrontEnd
        li le Jeux Multi-Joueur en Express/socket.io/pug/JS après 2 mois de formation BackEnd 
        li D'autres projets de différente ampleur s'ajouteront ici. 
        li Le site même est un autre projet, commencé lors du premier projet
        li AsF est un grand projet, que je gère : la migration d'un site avec du contenu créé depuis 2001. 
        | 9 806 fichiers, 3 langues, 3 devs en France, 6 rédacteurs en 4 pays
        







