extends ../templates/layoutstories.pug
block section
    #texttarget
        h1 Sunday's story: Sunday afternoon entertainment
        p  
        | The morning started peacefully, even Auguste, who tried to get up early, could not raise me. The parrot tried a fire-alarm imitation every half hour: peep-peep! at 9 am, peep? at 9:30 and peep-peep! peep-peep!!! at 10 when he finally got his way.
        p  
        | The first to disturb the peace was my young neighbor. She had broken her knee and found accommodation with a friend to avoid the stairs to her bed on the loft. She drafted him to deliver a couch table and to sand it down, if I had some sanding paper and my magic tool to sand the sides.
        p
        | The young man started his machine and filled the courtyard with high pitched noise, which mounts and reverberates between the buildings. 12:40 on a Sunday, an ideal time for sanding. I waited for the first neighbor to jump out and tell them to stop but was deceived: a few neighbors came out, but none dared forbid the sanding. I have to try that one as well: wear an impressive structure on your leg and nobody will scold you.
        p  
        | I had lunch and suddenly Auguste gave up his efforts to break through the kitchen window to watch the sanding from closer up and flew to the other room, calling. He has a special call to alert me about strange things that are no danger, so I went and found my neighbor holding a ladder against his house and a young man on the ladder.
        p « We are looking for the cat! »
        p
        | At this moment, a black cat watched down on us from the roof. The young man climbed higher and tried to reach the cat. They had extended the ladder just a few steps, so it did not reach the roof by far. He tried to get the cat by reaching just a hand over the roof and the cat took a few steps back. I had played that game already with Auguste on the roof with the same lack of success.
        p
        | He climbed one step higher, clearly not at ease on the swinging ladder, and the cat went to the other side of the roof.
        p I suggested to extend the ladder further, it could be higher than the roof.
        p
        | « My husband climbed that roof a few times, when the second floor neighbor locked herself out. … How did the cat get there anyway? »
        p « I’m living up there now and Minou jumped out of the window »
        p « Pleased to meet you, new neighbor!"
        p
        | After a few trials they decided to put the ladder just under the roof and to try to attract the cat from that position, just the upper body of the owner higher than the roof, clinging with one hand to the roof. Minou took her time, but finally he got a paw. That transformed the small cuddly cat in a black demon with raised hackles, all claws extended, hissing and scratching whatever portion of skin it could get. The young man tried another grip and Minou planted all claws into the tin roof whilst her master tried to pull her to the abyss. Iiiii, that’s a terrible noise that had us all wincing.
        p
        | The neighbor suggested a chair, so a second person could stand on it and take Minou, when she came over the roof. He did not sound the enthusiastic volunteer for that position, as we both remembered the last cat that he had saved from another precarious position, which had not appreciated the favor. I brought a step stool to avoid at least a broken leg, but it did not seem probable, that Minou would come down that way. She had escaped to the other side of the roof again.
        p
        | I brought a blanket to wrap her in and explained that I do that with Auguste: wrap him in first and then disengage claw by claw. The young man high up over the courtyard seemed a bit dubious over such acrobatics, wrapping a struggling cat in whilst standing on a swinging ladder.
        p
        | I fetched an extensible ladder which reached only halfway up, but at least it would be possible to get the cat once the owner handed her down.
        p
        | « There is no other way: I’ll have to get on the roof and get her. But how get her down? »
        p « A bag? »
        p « I’ll get her transport box »
        p
        | He climbed onto the roof, the neighbor climbed with the empty box and a scarf to lower the bag on it and handed it up. The cat was in the box within a minute.
        p  
        | There is short term rental apartment in the house and the current guest had come home, watched the proceedings but had not dared stop for a chat or some funny advice as other neighbors did. Whilst the neighbor climbed up to receive the box, he was on his second trip to the garbage bins - at least he would return the apartment with empty trashcans.
        p  
        | As soon as the neighbor had the box, he realized that he could not climb down with it nor turn to lower it down, the ladder swung under him and he too is no acrobat.
        p
        | I climbed up on my ladder beside the other and took the box, so it was lower, but then I could not lower the box either, as I was practically standing in the upper branches of some bushes.
        p
        | The tourist was on his second return from the garbage bins and got his money’s worth: one young man peeking over the roof, another one on a high ladder and a white haired lady on a second ladder, whilst the young couple had started sanding again. He will probably report, that they have strange customs in Paris.
        p  
        | The neighbor climbed further down and got Minou again and I could finally get the box standing on firm ground.
        p « We will hold the ladder, do you want to come down? »
        p
        | Obviously Minou’s master had second thoughts about that: it’s not easy to step from a roof onto a ladder that you do not see and that is a good step deeper under the overhanging roof.
        p « Should we call the fire watch? »
        p « We should have called it for Minou, before I got up here! »
        p
        | One leg over the roof « You nearly got it (that must be reassuring) a bit to the right!… Um, attention »
        p
        | Somehow he managed not to slide the foot between ladder and house and made it down safely.
        p
        | « Thank you so much for your help! » - « Why would you thank us? You provided the Sunday afternoon spectacle for free!"
