extends ../templates/layout.pug
block section
    #texttarget
    h1 bienvenue
    div
        p ceci deviendra le nouveau site
    div
        h3 Informations sur ce site
        p
        | Fournisseur: Le site est hébergé chez OVH.com, 2 rue Kellermann - 59100 Roubaix - France, sur un serveur node, installé sur un vps
        p Responsable du contenu: Helga Petrovic 
        p
        | Conception, réalisation, et droits d'auteurs de photos et visuels: Helga Petrovic
