extends ../templates/layoutstories.pug
block section
    #texttarget
        h1 Thursday's story: Is it art? 
        p
        | Once upon a time, we had a South African artist as a guest for five weeks. He had an art show in the region and planned to return to Europe and to live in France. At the time, the association’s office and lodging seemed very fine to our local friends, but as it was not yet up to my foreign standard, I always worried if it would be good enough and clean enough and enough of everything. Douglas, who run the association, fled my cleaning fit before their arrival and spent the day on the beach.
        p
        | The artist and his family were happy, sent us an invitation to the first show with his South African paintings, which we put dutifully on the artist's association’s website. Nice paintings, a bit African social misery romance but they had a lot of art and spirit in them and he sold them at very high prices.
        p
        | When we came back, (local condition: return the place clean) we found a mess. First impression: the kids also were aspiring artists. They had painted on everything: doors, door frames, balcony glass doors, the tv all around, the white curtains, the tile floors, the carpets, the small box the tv was sitting on - it had wheels to be able to turn it and paint it all around.
        p
        | Second impression: there is stuff everywhere. The kitchen furniture had extra high legs, as Douglas loved to cook standing without breaking his back and insisted to be able to clean easily under every piece of furniture. This let us recover with a broom within five minutes 16 toys cars, a toy motorcycle, a batman figure, some other small toys and 3 big potatoes. We added "toys" to our equipment list and made some kids happy over the years. Still today, the neighbour’s kid and the parrot are negotiating ownership of the batman.
        p
        | The bed sheets were different shades of grey, hanging from the bed to the floor in a streak to the door, like they had tried to hold back the fleeing guest by the ankle. 
        p
        | We threw out potatoes, plastic cups and dirty underwear, put the sheets at highest temperature washing programme and started on the paint. I was very grateful to discover that they had given an easy cleaning, water soluble kind of paint to their kids and not used our pencils nor markers. Five washing machines and a joint cleaning fit later there was no lasting damage.
        p
        | A year later we went to his new art show " French Life " and discovered scenes from our place, paintings like 'Love in the Morning' the muddled bed, the plastic cups and " Is this food from a dinner on paper dishes? Did they eat in bed? Why on earth, the tv is in the other room. " We went from painting to painting, spotting an overflowing ashtray - Douglas mournfully " And I can’t smoke in bed " , dirty underwear under the bed " Is this the same we threw out? So he knew it was there? " - "You know, the paintings are dated even with the day. The same sheets the whole stay, that explains the colour." -  "Why plastic cups and plates? Not to wash dishes?" - "Because china breaks when you shove it out of the bed in your sleep?"
        p
        | The pictures of their new permanent apartment were also showing "Social Misery in France" and I concluded: "I’m so glad that you are painting abstract paintings. I don’t mind hanging as a very abstract nude on someone’s wall but I could not stand exposing our dirty laundry."
        p
        | Several years later, by pure coincidence, we met again. He brought a "dead" and sticky computer for repair and was resigned to face a huge bill. Two days later, Douglas handed back a shiny white Macbook, asking for much less than the client feared. At the astonished look he said with a grin: "You know, there was no real damage, just clutter. A thorough cleaning was all it took."
