extends ../templates/layout.pug
block section
    #texttarget
        div
            h1=title
            h3 Informations sur ce site
            p
            | Fournisseur: Le site est hébergé chez OVH.com, 2 rue Kellermann - 59100 Roubaix - France
            p Responsable du contenu: Helga Petrovic,  
             a(href='mailto:helga@petrovic.ovh?subject=mentions site petrovic.ovh') Contact par mail
            p Conception, réalisation, et droits d'auteurs de photos et visuels: Helga Strobl Petrovic
        