extends ../templates/layoutstories.pug
block section
    #texttarget
        h1 Wednesday's story: Fragrant dishes
        p
        | For a dinner with a couple of friends, Douglas cooked regional specialties involving lots of meat, vegetables and spices in a large dish in the oven. In the middle he immersed two entire violet garlic bulbs without pealing them. Everyone liked the dish and a friend showed us that you are supposed to take a bulb, take the cloves out and squeeze the cooked garlic out. As it was well cooked, it was very easy, it had a nice taste, not as strong as I expected, but nobody ate more than two or three cloves.
        p
        | The parrot Coco had gotten his part of everything on a small plate and was happily eating at his place on top of the fridge. We moved to dessert, coffee, more wine and had a good time whilst the large dish with the other half of the food sat on counter.
        p
        | When nobody paid attention, the parrot discovered one thing he had not gotten, jumped down and tasted the garlic. He liked it very much and was well into his third clove when someone paid attention and discovered him on the side of the dish, head into the garlic bulb, soft garlic smeared all over his bec and face. Some smears had reached the top of his head and the shoulders.
        p
        | When I could stop laughing I cleaned the protesting parrot and Douglas saved the dish.
        p
        | The next day, Coco started smelling. Every single feather breathed garlic smell. It was much worse than any garlic loving human I ever crossed. As Coco used to sit either on my husband or on me, if he was not eating, sleeping or doing mischief, the day became a bit stressful, as we handed the parrot from one to the other: « Ugh you smell, Coco, go to Helga for a while! » During the day, the smell increased to reach the worst degree the second morning.
        p
        | In the morning, Douglas was always up early and read world news on the computer, whilst Coco tried to get a bit of sugar out of the pot at every fresh cup of tea. In between, he dozed on Douglas’ shoulder. When I entered the kitchen, Coco made a burp, Douglas cried « Oh no! Go away from me! » and tried to chase him from his shoulder. Insulted, Coco took three steps from the shoulder to the back of the neck and one step down, to the perfect spot nearly impossible to reach and belched some more, then put his head into his own neck feathers and fell asleep. I had the impression to see the cloud of garlic stench drifting around Douglas and we broke into a fit of laughter.
        p
        | Evidently, we swore « no more garlic for the bird » but he really liked it a lot and tried everything to get it, when we cooked cloves with a dish. At the end, Douglas always gave in « If he wants it so much, he certainly needs something in it, so he should have it to stay healthy. » Therefore we gained some statistic evidence over the years: the second day after is always the worst.
        p I swear, the current parrot will never once get a sample.