extends ../templates/layoutstories.pug
block section
    #texttarget
        h1 Saturday's story: The gecko 
        p
          | Once upon a time, we discovered a tiny lizard in our French seaside apartment. It was a finger long and thin when we first spotted it running over the ceiling like a gecko. Over the years we spotted it sometimes on a ceiling, high up on a wall or sliding under the door between our apartment and the neighbor’s. It was very shy and we always felt elated when we spotted it, like a sign of luck. (It never stood still long enough to really spot what species it was).We travelled between apartments and for work, always with our parrot. At every return, Coco used to walk around the counters and cupboards in the kitchen, peering with one eye behind the fridge, into gaps between counters, cupboards and walls, quite methodically for a parrot. We speculated if he looked for the gecko, as birds eat them. One evening, we observed Coco carrying morsels of his food, some bits of meat, behind his cage and dropping them behind the fridge and behind the oven. We were quite amazed: "Coco does not hunt for the gecko, he feeds it!" With this regime, over some years it got a bit longer and thick as my thumb.
        p
          | One summer, we rented the apartment to a French family with two cats and got an excited call from the husband the second day: "We spotted a lizard on the wall of the living room!" - "Ah, lucky you, it’s rare to see the gecko! Do not harm it please!" - Bubbling: "Yah, but the gecko!!! And our cats!!!" - "Do not worry, I do not think the cats can catch it, it will run up to the ceiling or go to the neighbor." - Nearly hysterical: "But it might bite the cats!"
        p
          | Small pause for me not to choke on the idea of a finger long lizard carrying a huge angora cat into it’s lair or gulping it down as a whole. Followed an exchange of information on veracious lizards in other parts of the world and the species at home in Southern France. All three animals survived the stay.
