extends ../templates/layout.pug
block section
  #texttarget
    h1 Services en Free-lance 
    ul
      li Création Internet et dev (Visual Studio Code, Coda, Java Script, Pug, Node, Express, JQuery, Git ...) 
      li Graphisme (Illustrator, Affinity) 
      li Création ou execution de maquette 
      li Traitement de photos
      li Missions de photographie
      li Formations individuelles de logiciels graphiques sur Mac ou PC
