extends ../templates/layout.pug
block section
    #texttarget
        h1 Services
        h3 Développement web, sites dynamiques, applications
        p Dans vos lieux ou dans mon bureau, sur facture ou employée
        ul
            li Je préfère travailler sur Mac, j'utilise Visual Studio Code, Coda, XCode, Atom, Terminal, (Filezilla etc) 
            li Github 
            li Java Script, Node, Express, Websocket, Angular, React, React Native, Pug, JQuery, Ajax, Meteor, html, css, bootstrap, ...
            li Mongodb,  Firestore
            li Linux, Apache, Nginx (sécurité de serveurs et bases de données)
        h3 Projets pour PME, Associations
        p Service sur facture, exécutés en externe 
        ul
            li Création de sites Internet; maintenance et mises à jour en option
            li Création et configuration d'un projet de site en CMS, formation pour son gestion 
            li Graphisme (Illustrator, Photoshop, Affinity) 
            li Création de visuels (dans le cadre de création de site)
        h3 Services pour Particuliers
        p Chez vous ou dans mon atelier
        ul
            li Installation et prise en main d'ordinateur, téléphone, télé, imprimante wifi, gadgets électroniques ... 
            li Heures de formation individuelles (ordinateur, téléphone, logiciels divers, traitement de photos)
            li Dépannage d'ordinateur (Macintosh ou Windows)
           
            