extends ../templates/layout.pug
block section
    #texttarget
        h1 Services
        h3 Particuliers
        p Chez vous ou dans mon atelier
        ul
            li Installation et prise en main d'ordinateur, téléphone, télé, imprimante wifi, gadgets électroniques ... 
            | si vous avez gardé la notice, si le menu est en français ou anglais, cela ira plus vite.
            li Heures de formation individuelles (ordinateur, téléphone, logiciels divers, traitement de photos)
            li Dépannage d'ordinateur (Macintosh ou Windows)
            
        h3 PME, Associations
        ul
            li Création de sites Internet, maintenance et mise à jour
            li Création et configuration d'un projet en CMS et formation pour la mise en ligne du contenu / mise à jour
            li Graphisme (Illustrator, Photoshop, Affinity) 
            li Création de visuels (dans le cadre de création de site)
        p 
        | En général, service sur facture, exécuté en externe avec un temps de livraison défini. 
        br
        | Sites Internet :  période de prise en main dans vos lieux, 
        | si vous assurez la maintenance et la mise à jour en interne. 
        br
        | Projets plus importants: statut et déroulement à définir.
        h3 Développement web, sites dynamiques, applications
        p dans vos lieux ou de mon bureau, sur facture ou employée
        ul
            li Je préfère travailler sur Mac, j'utilise Visual Studio Code, Coda, XCode, Atom, Terminal, (Filezilla etc) 
            li Github 
            li Java Script, Node, Express, Websocket, Angular, React, React Native, Pug, JQuery, Ajax, Meteor, html, css, bootstrap, ...
            li Mongodb,  Firestore
            li Linux, Apache, Nginx (connaissances en sécurité des serveurs et bases de données)

           
            