extends ../templates/layoutstories.pug
block section
    #texttarget
        h1 Where is the computer?
        
        p   We have a tiny space in Paris, serving as office,gallery, and more. As a friend, Isa, once marveled:  Everything at your place is tiny, the dishwasher, the stove, the computers are mini, only the oven is normal size  Spoke and took a second helping of the roast. 
        p   So the computers are Mac Minis and are really mini with wall mounted screens as the desk is smaller too. There is no space for a tv set, tv comes to the computer via a thumb sized usb tuners. 
        p   A South American artist and his partner, both about 60 years old, came for several weeks and would stay there during a show. A nice old neighbor  showed them around and presented us by phone. 
        p Two hours later I got a call:  Sorry, but can you tell me where the computer is?  
        p  Hah, as mentioned in the mail, it’s a Mac Mini, it’s really small, like a cigar box. If you are standing beside the phone, it’s just in front of you.  
        p  I’m at the desk, sorry, I don’t see it. 
        p   You see three white or grey boxes on the shelf? It’s the uppermost box.  
        p  Nooo ? 
        p   Ok, do you see the wooden shelf? There is one wooden shelf and two glass shelves.  
        p   No. 
        p  Ok, do you see the screen?  
        p  Samsung?  
        p Yes, that’s the screen. You may switch it on, it has a big round button in the middle of the frame, at the bottom. 
        p  Fumbling around:  It says ‘no input’.  
        p  Great, that’s normal, it means, you have switched the screen on, but not yet the computer. We will do this by step by step.  
        p  Ok  
        p  If you look on the screen, and than look at the upper end of the screen ..   
        p  Yes   
        p   ... and then go half a hand width higher, you see a small wooden shelf. On the right side of the shelf are two framed photos of my husband and me.  
        p   Yes!  
        p  Fine. Just left of the photos there is a box with dominos and cards. 
        p  Yes!  
        p And just left of the cards is a pile of three white or light grey boxes  
        p  I see the boxes. Hard disks!  
        p  No hard disks, but they look similar.  The bottom box is the biggest one. That’s a dvd player.  
        p  Hmm  
        p The middle box is the smallest one, it’s only a hub.  
        p  ??  
        p   It’s like a multiple socket, only instead of several lamps or things, it’s a multiple socket for computer gadgets. There are lots of cables on it’s back end.  
        p  Yes, I see the cables.  
        p  Good. And the last box on top, small but a bit thicker than the hub, that’s the computer. 
        p  I don’t see the computer. Kenwood?  
        p  No, Kenwood is the hifi set, it’s on the glass shelf. The computer is really beneath the Kenwood and over the multi socket.   
        p  No, I don’t see it.  
        pI hear the radio playing.  Fine, you switched the hifi on, that’s fine, we will need it for the sound. Just turn the wheel back till it shows CD_DVD  
        p   I see that, but there is no sound now. 
        p  That’s ok, don’t touch the Kenwood again. We will have sound as soon as we switch the computer on. Let’s do a thing: just switch the topmost box on. 
        p After some negotiation, consulting of my booklet which shows the devices from front and rear side, I heard some frantic switching and button pushing, maybe even the beginning of a start-up sound, then the radio again and heard despair in his peathing.  To prevent utter chaos I said:
        p  Let's do something else. We will find the other computer, which is standing all alone, not so crowded with other things. Go to the kitchen, go to the bathroom door, do not enter the bathroom.  
        p I'm there 
        p Did René show you the light switch for above? 
        p I see the light switch! (Not yet the light) 
        p Good. now look a bit higher, you see the glass shelf over you? Good! just over the light switch, you see a small box, grey from underneath.  
        p I see the box! - Great, THAT IS the computer! Can you go up and switch it on? The switch is tiny and round, just beside the cables  
        p Climbing up There is no computer, only a hard disk! 
        p No, there is no hard disk, that IS the computer. Just switch it on please. 
        p Turned out that this screen had another switch and after 5 more minutes I told him to let be for the day, I'd send over a tech. 
        p Isa went there after work, 45 minutes on the metro one way, told me all was fine, both computers had been effectively on, both screens off and she had registered their email accounts and put them as start pages,  I would have to erase that afterwards. 
        p The artist thanked me and said very kindly You know, at home we do not have so tiny computers  
        p I do a lot of computer service by phone but not seeing the machine was a first.