extends ../templates/layoutstories.pug
block section
    #texttarget
        h1 Friday's story: Organising an art show
        p
        | Some years ago we organized a long stay and some shows for an American artist. The first weeks she would spend in Paris with a friend, painting and doing tourism. Afterwards, we would have an art show in the gallery for several artists. We rented a gallery with a big showroom and a small lodging for them, where they could live in splendour for two weeks, would have to - really have to and no excuses - store all theirs things out of view for the opening evening and would have to - you know it’s a condition?! promised?! - range the space during opening hours for the following two weeks. We got a good price for the long show and split costs in a reasonable way.
        p  
        | Then she would go to the South of France and finish with 2 other shows in Paris.
        p  
        | The fun started with one of the last mails from home: « You know I bring Jo with me and he plays drums. Bongo drums. He can’t take his drums on the plane. We need to find drums for rent! »
        p
        | Aha. I asked Douglas, "What are Bongo drums?" I vaguely hoped for some small thing but no, that would not do, it need to be those large ones, war drum like. - We found some drums. Renting them costs a lot, if he needed them for the show only, it would be cheaper, but otherwise, buying old ones on ebay would be cheaper then renting.
        p
        | Sacrilege! He could not play on any old ones fit to be discarded. He needed professional drums. Professional drums, that reduced the renting offer too.
        p 
        | The pickup trip to the airport mutated into an excursion in a big rented minivan: first stop on the way to Paris: Ikea - we needed furniture and the artist needed picture frames. Douglas was horrified, those ugly 1,50 € black plastic frames would hang beside his paintings. In the same room ! Nothing helped, she got lots of them and left them to us at departure.
        p
        | Next stop: a very special bank because nobody else could change dollars better in all of Paris. Evidently on an absolutely crowded corner close to the Opera. It took several trips around the block as those buses are terribly frequent when you decide to park in their stops.
        p
        | Third stop: the bongo drums. He got a big one and a huge one - good idea to have rented a bigger van.
        p
        | Finally we installed the couple in the gallery, unloading interrupted by three other buses which could not pass the van parked on the street - are they pursuing us?
        p
        | Back home, another hurried unloading from the van to the entry door. I carried furniture packages inside and Douglas made the return deadline for the van as the secretary had already the key in the door. He always had an irresistible smile.
        p  
        | The gallery became a community center with open doors, artists visited, befriended artists, brought a guitar and a singer, they all played and sang with open doors - Big gallery doors in a glass wall. That attracted all the curious, wannabe artists, lost existences of the neighbourhood and everyone had a great time. Joe was invited to play in a local bar and was mightily proud of that.
        p  
        | The American guests discovered a French custom: people depose discarded things on the street and whoever needs them picks them up and takes them home. If things are not gone after a day or two, they are picked up for disposal.
        p
        | That was a great thing: there was an abundance of furniture around and the gallery was so empty. Douglas was doubtful at the first occurrence, disgruntled at his next visit, tried to convince the guests, that the definition of a gallery includes empty space, so you can see the walls and hang paintings there. The arrangement of those paintings has to be tasteful, there need to be space to put the socles for the sculptures. We rented the gallery together as an elegant environment for the show. Those broken nightstands and three-legged tables were as far from elegant as a thing could be! - Oh, no, he was mistaken, they would make fine pedestals for the sculptures. At this point, the sculptor declared very pleased: « Ah, good idea, as I have no socles anyway! » This discovery led to another lively discussion which ended with a compromise: the sculptor would build socles, if Douglas showed him how he wanted them and would paint them.
        p
        | The next day, the American artists helpfully started collecting boards from the streets near and far. There was still a distance to go in the opposite direction of elegance…
        p  
        | We spent an amusing afternoon watching a sculptor build drunken socles. Douglas decided that his contribution would be limited to explaining the machines and to make sure no arms nor legs were cut off. He seemed a bit resigned on the question of elegance. Douglas had studied sculpture before learning carpentry and used to apply a sculptor’s desire for perfection to carpentry but it turned out not all sculptor’s are gifted for perfection.
        p
        | There was a very revealing moment when the sculptor watched his pencil and asked: "Are there different kinds of paints? I added water but it does not become thinner?"
        p
        | - « There are! » Checking his pot, I declared horrified: « You bought a thinner soluble paint. And you added water! » The sculptor smeared a crumbly paste on a socle and declared that it still worked fine.
        p
        | Douglas took another glass of red wine, sat down and smiled. I could read his thoughts: ‘Let him build one or two socles, he will give up soon and I’ll find an elegant solution.
        p 
        | As foreseen, the next day we delivered two somewhat irregular boxes, the famous socles, to the gallery, a beautiful wooden board, rounded edges, polished, nice trestles for a long presentation table and had only a very short shouting match over a « pretty table cloth in Provencial flower pattern, ideal to put over the furniture and under the sculptures ». There was only one winner possible: Douglas would not tolerate any coffee table cloth in an art show. Afterwards the artist was free to use it as a tablecloth wherever she liked, as long it was not in our apartment in his presence. « And don’t leave it there. »
        p  
        | The show was a success, fun, we sold a bit, had great food and only the sculptor’s wife tried to ban the local homeless people. Joe played his drums close to the door and they drifted in and stood around him commenting in French. The artist tried to drag them around the show - no discrimination, art is for everyone, but they resisted, the sculptor's wife tried to drag them out and Douglas prepared plates from the buffet for them. Another lady, who had contributed the Coca Cola, discovered one person wishing to drink that, an old homeless guy. She watched the wine glasses doubtfully - for elegance sake only glass in one of our shows - but I declared: « Don’t bother, give him the bottle please, nobody else will drink it anyway. » No takers for her vegetable juices though.
        p  
        | Over the next two weeks all kinds of boards and broken furniture, nice old wine boxes and « decorative » elements were smuggled back into the gallery but the table cloth did not reappear in the main room.
        p
        | Whenever one of us had gallery duty, we tried to remind the artist that we had to hand back the gallery as we got it: clean and empty. We got a lot of empty promises.
        p 
        | The day of departure, we came to the gallery early to be sure they made it to their train. Nothing was packed, nothing cleared and Joe declared: "You know, I’ll take the bongo drums to Sète. I like them. »
        p  
        | We already had asked our partner to come with the minivan to transport the paintings. He came early and had to make two trips: one to the dump to discard the furniture and one with paintings and extra suitcases to our place. The men stayed to clean up and I brought the guests to the metro station, where I would catch a bus home. Seeing the stairs, Joe declared he could handle those stairs without his sturdy walking stick which he had found at the flea market, it would be easier to take only bags and drums on the train and not the stick. « Can you take the stick home with you? »
        p 
        | I took the bus, found a place and sat down, the stick between my feet. The bus got crowded when suddenly an elder man with a stick ordered the lady facing me to get up for him, he was handicapped and had a card. She had nor seen him coming and got up a bit astonished at his rudeness. She was a bit over forty, my age at the time, or maybe a bit older. He settled down and asked me: « Do you get the place easily? » I realised that I was sitting beside the handicapped sign in exactly the same posture, hands on the handle of the stick between my legs. I stammered: "Ah, you know, it’s temporarily for me."
        p
        | I got up at the next stop on approach of an elder person and fled to the end of the bus.
