div#navDiv
    ul.menu1
        li 
            a(href='devjs') Dev Full Stack
            ul.menu2
                li
                    a(href='jeu1') Enigme
                li
                    a(href='jeu2') Jeu multi-joueur
                li
                    a(href='git') Profile Git
                li
                    a(href='asf') Projet en cours : AsF
                li 
                    a(href='mentions') Mentions légales
        li
            a(href='services') Services
        li
            | 
            a(href='moab') Photos
            ul.menu2
                li
                    a(href='rouen') Armada Rouen
                li
                    a(href='implosion') Implosion
                li
                    a(href='voyages') Voyages
                li
                    a(href='moab') Utah - Moab
                li
                    a(href='') Fooding
                li
                    a(href='') Elements
                li
                    a(href='') Sete
                li
                    a(href='') 14 Juillet
                li &agrave; suivre
        li
            a(href='expos') Expos
        li
            a(href='stories') Stories

        li
            a(href='contact') Contact
    span
        img#logo(src='images/helga-rot.gif' alt='logo Helga Strobl')