div
    ul.menu1
      li
        a(href='contact') Contact
      li
        a(href='services') Services
      li
        | 
        a(href='photo/moab.html') Photos
        ul.menu2
          li
            a(href='photo/rouen.html') Armada Rouen
          li
            a(href='') Implosion
          li
            a(href='photo/moab.html') Utah - Moab
          li
            a(href='') Fooding
          li
            a(href='') Elements
          li
            a(href='') Sete
          li
            a(href='') 14 Juillet
          li &agrave; suivre
      li
        a(href='expos') Expos
      li
         a(href='stories') Stories
      li
        a(href='jeu1') Enigme Qui suis-je?
      li
        a(href='jeu2') Un autre jeu pour deux
    span
      img#logo(src='images/helga-rot.gif' alt='logo Helga Strobl')