div
    ul.menu1
      li
        a(href='jeu1') Qui suis-je?
      li
        a(href='contact') Contact
      li
        a(href='services') Services
      li
        a(href='http://petrovic.ovh/photos/photos-vide.html')
        | Photos
        ul.menu2
          li
            a(href='photo/rouen.html') Armada Rouen
          li
            a(href='http://petrovic.ovh/photos-vide.html') Implosion
          li
            a(href='photo/moab.html') Utah - Moab
          li
            a(href='http://petrovic.ovh/photos-vide.html') Fooding
          li
            a(href='http://petrovic.ovh/photos-vide.html') Elements
          li
            a(href='http://petrovic.ovh/photos/photos-vide.html') Sete
          li
            a(href='http://petrovic.ovh/photos/photos-vide.html') 14 Juillet
          li &agrave; suivre
      li
        a(href='expos') Expos
      li
         a(href='stories') Stories
    span
      img#logo(src='images/helga-rot.gif' alt='logo Helga Strobl')