<nav>
    <div>
    <ul class="menu1">
        <li><a href="./pages/jeu.html">Qui suis-je?</a></li>
        <li><a href="./pages/contact.html">Contact</a></li>
        <li><a href="./pages/services.html">Services</a></li>
        <li><a href="http://petrovic.ovh/photos/photos-vide.html"></a>Photos</a>
            <ul class="menu2">
                <li><a href="http://petrovic.ovh/photos/photos-vide.html">Armada Rouen</a></li>
                <li><a href="http://petrovic.ovh/photos-vide.html">Implosion</a></li>
                <li><a href="http://petrovic.ovh/photos-vide.html">Utah - Moab</a></li>
                <li><a href="http://petrovic.ovh/photos-vide.html">Fooding</a></li>
                <li><a href="http://petrovic.ovh/photos-vide.html">Elements</a></li>
                <li><a href="http://petrovic.ovh/photos/photos-vide.html">Sete</a></li>
                <li><a href="http://petrovic.ovh/photos/photos-vide.html">14 Juillet</a></li>
                <li>à suivre</li>
            </ul>
        </li>
        <li><a href="./pages/expos.html">Expos</a></li>
        <li><a id="stories">Stories</a></li>
    </ul>
    <span><img id="logo" src="http://petrovic.ovh/images/helga-rot.gif" alt="logo Helga Strobl"></span>
</div>

</nav> 